<div id="dream_comments">
  <!-- Dream  -->
  <div class="animated fadeIn" v-if="isAuth && authDream.id == dream.id">
    <p class="title is-4 is-spaced">{{authDream.dream}}</p>
    <p class="subtitle is-6" v-html="authDream.description"></p>
  </div>
  <div class="animated fadeIn" v-else>
    <p class="title is-4 is-spaced">{{dream.dream}}</p>
    <p class="subtitle is-6" v-html="dream.description"></p>
  </div>
  <!--  Commet Input -->
  <br>
  <comment-input v-if="isAuth" @newText="saveComment"></comment-input>
  <div class="notification is-primary animated rubberBand" v-if="!isAuth">
    Untuk menulis komentar, mohon lakukan registrasi terlebih dahulu.
  </div>
  <!--  Parent Comment -->
  <div class="parent-comments-wrapper m-t-10">
    <parent-comments :dream_id="dream.id"></parent-comments>
  </div>
</div>
