body {
  font-family: 'Maven Pro', sans-serif;
}
.navbar{
  .has-shadow{
    box-shadow: 0 2px 3px rgba($black, 0.1);
  }
}
.navbar-item img {
    max-height: 3rem;
}
.nav-item a:not(.button),
a.nav-item:not(.button) {
  color: #fff;
}

.nav-item a:not(.button):hover,
a.nav-item:not(.button):hover {
  color: $npp-yellow;
}

.nav-item a:not(.button).is-active,
a.nav-item:not(.button).is-active {
  color: $npp-yellow;
}
.nav-item a:not(.button).is-tab.is-active, a.nav-item:not(.button).is-tab.is-active {
    color: $npp-yellow;
}
.nav-item a:not(.button).is-tab:hover,
a.nav-item:not(.button).is-tab:hover {
  border-bottom: 3px solid $npp-yellow;
}
.nav-item a:not(.button).is-tab.is-active,
a.nav-item:not(.button).is-tab.is-active {
  color: $npp-yellow;
  border-bottom: 3px solid $npp-yellow;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  color: $npp-yellow;
}
.navbar-dropdown{
  a.navbar-item {
    color: $black;

  }
}
.card{
  border-radius: 8px;
  &.bg-yellow{
    background-color: rgb(255, 204, 42);
  }
  &.bg-yellow-opacity{
    background: linear-gradient(rgba(255, 204, 42,0.5),rgba(255, 204, 42,0.5));
  }
}
.has-text-warning {
    color: $npp-yellow;
}
