.body-bg-black{
  background-color: #000 !important;
  margin: 0px;
  padding: 0px;
  min-height: 90vh;
  border-radius: 3px;
}
.npp-tr {
  background-color: #000;
  color: #fff;
}

.footer {
    background-color: $npp-yellow;
    padding: 3rem 1.5rem 6rem;
    a {
      color: #000
    }
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  &.small {
    font-size: 12px;
  }
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
