<div id="login_register" class="m-r-20 m-l-20">
  <div class="columns" id="login">
    <div class="column">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
        <p class="m-t-10">
          <div class="field">
              <b-checkbox><span style="color: #00d1b2;">Ingat saya</span> </b-checkbox>
          </div>
        </p>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </p>
        <p class="m-t-5">
          <a href="javascript:void(0)">Lupa password ?</a>
        </p>
      </div>
    </div>
    <div class="column is-narow">
      <button class="button is-warning is-fullwidth">
        Sign in
      </button>
    </div>
  </div>
  <div class="columns" id="register">
    <div class="column" >
      <div class="card bg-yellow">
        <div class="card-header">
          <div class="card-header-title has-text-centered">
            <span class="has-text-centered is-size-3-desktop">Bergabung bersama kami</span>
          </div>
        </div>
        <div class="card-content">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Nama Depan">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Nama Belakang">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="email" placeholder="Alamat Email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="date" placeholder="Tanggal Lahir">
              <span class="icon is-small is-left">
                <i class="fa fa-birthday-cake"></i>
              </span>
            </div>
          </div>
          <div class="block with-panel">
            <b-radio-group>
              <span class="icon is-left m-r-5" style="color: #dbdbdb;">
                <i class="fa fa-venus-mars"></i>
              </span>
              <b-radio v-model="gender" name="gender" native-value="Male">Laki-laki</b-radio>
              <b-radio v-model="gender" name="gender" native-value="Female"> Perempuan</b-radio>
            </b-radio-group>
            <p class="content"><b>Selection:</b> {{ gender }}</p>
          </div>
          <div class="field m-t-10">
            <b-checkbox>
              Saya setuju dengan <a href="javascript:void(0)">syarat & ketentuan</a>
            </b-checkbox>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
